a {
  padding: 10px;
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a:first-child {
  padding-bottom: 20px;
  font-size: 2.2rem;
}

.line {
  width: 2px;
  height: 20px;
  background-color: white;
}
